# Ambiente virtual
.venv/
venv/

# Cache Python
__pycache__/
*.py[cod]

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.Coverage
htmlcov/